/* Importando Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Variables de colores */
:root {
    --main-color: #1e1e1e;  /* Negro grisáceo */
    --text-color: #e0e0e0;  /* Gris claro para buen contraste */
    --background-light: #121212;  /* Un fondo oscuro profundo */
    --gradient-start: #3a3a3a;  /* Gris oscuro */
    --gradient-end: #1f1f1f;  /* Casi negro, para un efecto de profundidad */
}

/* Encabezado */
header {
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
    padding: 20px;
    text-align: center;
    color: var(--text-color);
}

/* Estilos para el título */
.logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Imagen del logo */
.logo-text img {
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid white;
}

.gato {
    background: #1e1e1e; /* Fondo oscuro para mayor contraste */
    color: #ffffff; /* Texto blanco */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.gato h2 {
    font-size: 24px;
    font-weight: 700;
    color: #2c015a; /* Un color vibrante para destacar el título */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.gato p {
    font-size: 18px;
    font-weight: 500;
    color: #e0e0e0; /* Texto más claro para facilitar la lectura */
}

/* Efecto al pasar el mouse */
.gato:hover {
    transform: scale(1.05);
}

.gato p {
    font-size: 18px;
    font-weight: 500;
    color: #1b1a1a; /* Cambia esto por un tono más visible */
}

/* Reset y estilos generales */
