/* Importando Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Variables de colores */
:root {
    --main-color: #1e1e1e; /* Negro grisáceo */
    --text-color: #e0e0e0; /* Gris claro para buen contraste */
    --background-light: #121212; /* Un fondo oscuro profundo */
    --gradient-start: #2c2c54; /* Azul oscuro profundo */
    --gradient-end: #474787; /* Púrpura oscuro suave */
    --card-bg: #1f1f1f; /* Fondo de las tarjetas */
    --highlight-color: #b0b0b0; /* Gris claro para títulos */
}

body {
    background-color: var(--background-light);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(24, 23, 23); /* Fondo negro */
    padding: 20px;
    text-align: center;
}

.nav-logo h2 {
    color: #a463f2; /* Morado elegante */
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 10px rgba(164, 99, 242, 0.6); /* Brillo sutil */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav-logo img {
    width: 40px; /* Ajusta el tamaño del icono */
    height: auto;
}

.tipos-gatos {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0;
    background-color: var(--card-bg);
    border-radius: 10px;
}

.tipos-gatos li {
    margin: 0 15px;
}

.tipos-gatos a {
    text-decoration: none;
    color: var(--highlight-color);
    font-weight: bold;
}

.gatos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
}

.gato {
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out;
}

.gato:hover {
    transform: scale(1.05);
}

.gato h2 {
    color: var(--highlight-color);
    font-size: 20px;
    margin-bottom: 10px;
}

.gato p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
}

.gato img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}